[submodule "third_party/scintilla"]
	path = third_party/scintilla
	url = https://github.com/stonewell/scintilla.git
[submodule "third_party/scite"]
	path = third_party/scite
	url = https://github.com/stonewell/scite.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/taocpp/json.git
