pyside6
yapsy
pluggy
appdirs
fuzzywuzzy
python-Levenshtein
git+https://github.com/stonewell/py-tree-sitter#egg=tree_sitter
GitPython
PyPubSub
editorconfig
git+https://github.com/stonewell/pyEverything#egg=pyeverything-stonewell
